* {
    margin: 0;
    box-sizing: border-box;
    color: #151718;
    -webkit-font-smoothing: antialiased;
    -moz-osz-font-smoothing: grayscale;
}

body {
    padding-top: 200px;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-image: url(https://i.ibb.co/X7tnbV1/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 64px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 72px;
    color: rgba(44, 46, 47, 0.9);
}

h1 span {
    color: #DB2777
}

link a {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 80px;
}

link .travel {
    text-decoration: none;
    background-color: #DB2777;
    color: white;
}